---
import { Search, ShieldHalf, MessagesSquare, Radio } from "lucide-astro";
---

<div class="bg-[#A8FF35] text-black py-9">
  <h1 class="font-bold text-2xl text-center pb-9">Featured Features.</h1>
  <div class="features flex flex-col items-center justify-center gap-5">
    <div class="card px-5 pt-5 pb-14 bg-white w-64 rounded-2xl">
      <div class="card-header flex items-center gap-4">
        <div class="h-7 flex items-center">
          <Search size="49px" />
        </div>
        <h2 class="text-xl font-semibold w-28">Search for sponsorship</h2>
      </div>
      <div class="body pt-5">
        <p>
          With this feature, event organizers will find sponsorship more easily
          and quickly
        </p>
      </div>
    </div>

    <div class="card px-5 pt-5 pb-14 bg-white w-64 rounded-2xl">
      <div class="card-header flex items-center gap-4">
        <div class="h-7 flex items-center">
          <ShieldHalf size="49px" />
        </div>
        <h2 class="text-xl font-semibold w-28">Safe and Reliable</h2>
      </div>
      <div class="body pt-5">
        <p>
          Equipped with a transaction security system that is licensed and
          recognized as world class.
        </p>
      </div>
    </div>

    <div class="card px-5 pt-5 pb-14 bg-white w-64 rounded-2xl">
      <div class="card-header flex items-center gap-4">
        <div class="h-7 flex items-center">
          <MessagesSquare size="49px" />
        </div>
        <h2 class="text-xl font-semibold w-28">Live Chat</h2>
      </div>
      <div class="body pt-5">
        <p>
          make the negotiation process between parties easier and faster with a
          live chat system
        </p>
      </div>
    </div>

    <div class="card px-5 pt-5 pb-14 bg-white w-64 rounded-2xl">
      <div class="card-header flex items-center gap-4">
        <div class="h-7 flex items-center">
          <Radio size="49px" />
        </div>
        <h2 class="text-xl font-semibold w-28">Search For Media Partner</h2>
      </div>
      <div class="body pt-5">
        <p>
          Reach thousands of audiences using the services of our media partners
        </p>
      </div>
    </div>
  </div>
</div>
