<div
class="bg-[#A8FF35] py-24 gap-8 flex flex-col justify-center items-center"
>
<h2 class="text-black font-black text-3xl text-center w-62">
  Join us on email to connect with us
</h2>
<a href="#" class="bg-black py-4 px-8 rounded-full font-bold"> Join Now</a>
</div>