<div class="bg-white text-black py-16">
  <h1 class="text-2xl font-bold text-center mx-5 py-7">
    Friend's story Sponsorify
  </h1>

  <div class="flex justify-center items-center mx-4 md:mx-8 lg:mx-42">
    <div class="carousel carousel-center p-4 space-x-4 rounded-box">
      <div id="item1" class="carousel-item">
        <div class="bg-[#A8FF35] flex flex-col justify-center px-2">
          <p class="w-40 text-center">
            “ Thank God, with sponsorify my event was able to run very
            successfully ”
          </p>
          <span class="text-center font-semibold my-2">@RifqiNailal</span>
          <p class="w-40 text-center">
            Chairman of the committee Campus Expo Activities
          </p>
        </div>
        <img
          src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg"
          class="rounded-box"
        />
      </div>
      <div id="item2" class="carousel-item">
        <div class="bg-[#A8FF35] flex flex-col justify-center px-2">
          <p class="w-40 text-center">
            “ Thank God, with sponsorify my event was able to run very
            successfully ”
          </p>
          <span class="text-center font-semibold my-2">@RifqiNailal</span>
          <p class="w-40 text-center">
            Chairman of the committee Campus Expo Activities
          </p>
        </div>
        <img
          src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg"
          class="rounded-box"
        />
      </div>
      <div id="item3" class="carousel-item">
        <div class="bg-[#A8FF35] flex flex-col justify-center px-2">
          <p class="w-40 text-center">
            “ Thank God, with sponsorify my event was able to run very
            successfully ”
          </p>
          <span class="text-center font-semibold my-2">@RifqiNailal</span>
          <p class="w-40 text-center">
            Chairman of the committee Campus Expo Activities
          </p>
        </div>
        <img
          src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg"
          class="rounded-box"
        />
      </div>

      <div id="item4" class="carousel-item">
        <div class="bg-[#A8FF35] flex flex-col justify-center px-2">
          <p class="w-40 text-center">
            “ Thank God, with sponsorify my event was able to run very
            successfully ”
          </p>
          <span class="text-center font-semibold my-2">@RifqiNailal</span>
          <p class="w-40 text-center">
            Chairman of the committee Campus Expo Activities
          </p>
        </div>
        <img
          src="https://daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.jpg"
          class="rounded-box"
        />
      </div>
    </div>
  </div>

  <div class="flex justify-center w-full py-6 gap-2">
    <a href="#item1" class="btn btn-xs">1</a>
    <a href="#item2" class="btn btn-xs">2</a>
    <a href="#item3" class="btn btn-xs">3</a>
    <a href="#item4" class="btn btn-xs">4</a>
  </div>
</div>
