---
import Layout from "../../../layouts/Layout.astro";

import { Search, MapPin } from "lucide-astro";
---

<Layout title="Dashboard">
  <div
    class="bg-[#A8FF35] px-5 pt-6 md:flex md:justify-center md:items-center w-screen"
  >
    <div class="w-full flex justify-center">
      <div class="flex flex-col items-start">
        <h1 class="text-black text-lg font-semibold">Search for sponsorship</h1>
        <form
          action=""
          class="flex flex-col lg:flex-row gap-4 xl:gap-6 items-center justify-center py-4"
        >
          <label
            class="flex items-center border-2 bg-black rounded-lg w-full max-w-sm"
          >
            <input
              type="text"
              placeholder="Sponsor name"
              class="input max-w-xs rounded-lg placeholder-white"
            />
            <Search class="min-w-16" />
          </label>
          <label
            class="flex items-center border-2 bg-black rounded-lg w-full max-w-sm"
          >
            <input
              type="text"
              placeholder="Location"
              class="input max-w-xs rounded-lg placeholder-white"
            />
            <MapPin class="min-w-16" />
          </label>
          <select
            class="select select-bordered rounded-lg border-2 border-white w-full min-w-96 text-white"
          >
            <option>Han Solo</option>
            <option>Greedo</option>
          </select>

          <button
            class="bg-white px-8 py-4 rounded-full text-black font-semibold"
            >Search</button
          >
        </form>
      </div>
    </div>
  </div>

  <div>
    <h1 class="font-medium text-2xl mt-10 md:ml-4">Notable company</h1>
    <div class="ml-4 w-60 py-1 border-b"></div>
  </div>

  <div class="m-10"></div>
</Layout>
