---
import Layout from "../layouts/LandingPageLayout.astro";
import StackSponsor from "../components/LandingPageComponents/StackSponsor.astro";
import Features from "../components/LandingPageComponents/Features.astro";
import Blog from "../components/LandingPageComponents/Blog.astro";
import CompanyList from "../components/LandingPageComponents/CompanyList.astro";
import Testimony from "../components/LandingPageComponents/Testimony.astro";
import Platform from "../components/LandingPageComponents/Platform.astro";
import Join from "../components/LandingPageComponents/Join.astro";
import Footer from "../components/LandingPageComponents/Footer.astro";
---

<Layout title="Home">
  <div class="mx-10 mt-7 md:flex md:flex-col md:items-center">
    <h1
      class="text-xl font-black text-center md:text-3xl lg:text-6xl lg:w-[849px] lg:mt-6"
    >
      A <span class="text-[#A8FF35]">new era</span> for establishing cooperation
      for <span class="text-[#A8FF35]">events</span> and <span
        class="text-[#A8FF35]">sponsors.</span
      >
    </h1>
    <p class="text-base font-normal text-center my-5">
      Don't let funding problems hinder your creative ideas for creating a great
      event
    </p>
  </div>
  <StackSponsor />
  <Features />
  <Blog />
  <CompanyList />
  <Testimony />
  <Platform />
  <Join />
  <Footer />
</Layout>
