---
import Layout from "../layouts/Layout.astro";
import StackSponsor from "../components/DashboardComponents/StackSponsor.astro";
import Features from "../components/DashboardComponents/Features.astro";
import Blog from "../components/DashboardComponents/Blog.astro";
import CompanyList from "../components/DashboardComponents/CompanyList.astro";
import Testimony from "../components/DashboardComponents/Testimony.astro";
import Platform from "../components/DashboardComponents/Platform.astro";
import Join from "../components/DashboardComponents/Join.astro";
import Footer from "../components/DashboardComponents/Footer.astro";
---

<Layout title="Dashboard">
  <div class="mx-10 mt-7 md:flex md:flex-col md:items-center">
    <h1
      class="text-xl font-black text-center md:text-3xl lg:text-6xl lg:w-[849px] lg:mt-6"
    >
      A new era for establishing cooperation for events and sponsors.
    </h1>
    <p class="text-base font-normal text-center my-5">
      Don't let funding problems hinder your creative ideas for creating a great
      event
    </p>
  </div>
  <StackSponsor />
  <Features />
  <Blog />
  <CompanyList />
  <Testimony />
  <Platform />
  <Footer />
  <Join />
</Layout>
